export(build_mutation_matrix)
export(classify_msi_status)
export(compute_auroc)
export(compute_dd)
export(compute_pcs)
export(compute_therapeutic_window)
export(filter_cancer_cell_lines)
export(get_benchmark_table)
export(load_dependency)
export(load_expression)
export(load_models)
export(plot_benchmark)
export(plot_pancancer_summary)
export(plot_protein_correlation)
export(plot_therapeutic_window)
export(predict_trial_response)
export(rank_dependency_candidates)
export(run_paralog_analysis)
export(stratify_by_mutation_type)
export(visualize_dependency_shift)
importFrom(ggplot2, ggplot, aes, geom_bar, geom_point, geom_smooth,
           geom_hline, geom_text, coord_flip, theme_bw, labs,
           scale_fill_manual, annotate, geom_segment)
importFrom(data.table, fread)
importFrom(pROC, roc)
importFrom(stats, cor.test, p.adjust, rnorm, t.test, var)
importFrom(utils, data, globalVariables)
